:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 14px;
  margin: 0px;
}

li {
  list-style: none;
}

#menu {
  color: blue;
}

.title {
  font-size: 32px;
  text-decoration: underline;
}

.link {
  border: solid 5px yellow;
}

.menu-footer .link {
  border-color: red;
}

.menu-header .link {
  border-color: aqua;
}
