.section1 {
  height: 600px;
  background-color: lightcoral;
}

.section2 {
  height: 600px;
  background-color: lightgreen;
}

.section3 {
  height: 600px;
  background-color: lightseagreen;
}

.nav {
  height: 100px;
}
