<main class="main">
    <section class="main__section--1">
        <p class="main__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, reprehenderit et corporis dolor nemo
            repellat! Fuga numquam minima aspernatur quod similique in consequuntur doloremque obcaecati, debitis
            repellat
            accusantium neque vitae!
        </p>
    </section>
    <section class="main__section--2">
        <h1 class="main__title">Título</h1>
        <button class="main__button--1">pulsa</button>
    </section>
</main>