.background {
  background-color: red;
}

@media all and (min-width: 480px) {
  .background {
    background: rgb(255, 208, 0);
  }
}
@media all and (min-width: 768px) {
  .background {
    background-color: green;
  }
}
