* {
  text-align: center;
}

.main_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.main_text {
  width: 50%;
  font-family: "Montserrat";
  font-weight: bold;
  color: red;
  font-size: 20px;
}

.footer_box {
  border-top: solid 2px red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  transform: translate(0, -100%);
  background-color: red;
  width: 2em;
  height: 2em;
  border-radius: 45deg;
}
