/* RELLENA CON TU CSS */
.box--1 {
  position: relative;
  top: 20px;
}

.box--2 {
  transform: scale(1.5);
}

.box--3 {
  transform: rotate(60deg);
}

.box--4 {
  transform: scale(5);
  transform: rotate(60deg);
  position: relative;
  top: 20px;
}
