<section class="article">
  <article class="article__item">
    <h2 class="article__itemtitle">Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, harum
      recusandae soluta ipsum architecto modi enim inventore quae nemo earum at
      iste aperiam, ratione ipsa. Quae in pariatur voluptatum. Quasi!
    </p>
  </article>

  <article class="article__item">
    <h2 class="article__itemtitle">Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, harum
      recusandae soluta ipsum architecto modi enim inventore quae nemo earum at
      iste aperiam, ratione ipsa. Quae in pariatur voluptatum. Quasi!
    </p>
  </article>

  <article class="article__item">
    <h2 class="article__itemtitle">Título del post</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, harum
      recusandae soluta ipsum architecto modi enim inventore quae nemo earum at
      iste aperiam, ratione ipsa. Quae in pariatur voluptatum. Quasi!
    </p>
  </article>
</section>
